<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="logs/nlog.log" internalLogLevel="Warn">

  <targets async="true">

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true"
            layout="${level:uppercase=true:padding=-5} ${mdc:item=Activity:padding=5} ${time} ${logger} ${message} ${exception}">
    </target>
    <target name="xmlFilePerDay" keepFileOpen="true" xsi:type="File" fileName="logs/${shortdate}.xlog" layout="${log4jxmlevent}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    <logger name="*" minlevel="Info" writeTo="xmlFilePerDay" />
  </rules>
</nlog>